.common-btn-item {
    display: block;
    width:100%;
    height: 55px;
    font-size: 20px;
    padding: 9.5px 0;
    /* margin: 5px 0; */
    border: 1px dotted #b7c0b9;
    color: #0b2649
}
.common-btn-item:hover{
    font-size: 22px;
    cursor: pointer;
    background-color: #6db1a6;
    font-weight: bold;
}
.common-btn-item:focus{
    background-color: #99CC66;
}

.detial-aside-left{
    width: 20%;
    background-color: #c0c2c9;
    float: left;
}

#main{
    overflow: hidden;
}
